<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:property-placeholder location="classpath:app*.properties" local-override="true" file-encoding="UTF-8"/>

    <context:component-scan base-package="com.yiwu.changething.sec1">
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <task:annotation-driven/>

    <import resource="classpath:app-db.xml"/>

    <import resource="classpath:app-shiro.xml"/>

    <import resource="classpath:app-redis.xml"/>

    <!--<bean id="oauth2Config" class="com.gengee.insait.oauth.authe.config.Oauth2ConfigIml">-->
        <!--<property name="resource" value="classpath:oauth2-filter.properties"/>-->
    <!--</bean>-->

</beans>