<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
    <jmxConfigurator/>

    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/MC1/insait_mc1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/MC1/insait_mc1-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.apache.shiro" level="INFO"/>
    <logger name="org.mybatis.spring" level="INFO"/>
    <logger name="org.apache.ibatis" level="INFO"/>
    <logger name="com.yiwu" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="logFile"/>
    </root>

</configuration>
