<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiwu.changething.sec1.mapper.CommentsMapper">

    <insert id="insertComments" parameterType="com.yiwu.changething.sec1.bean.CommentsBean">
      insert into yw_comments (
          id,
          idle_id,
          user_id,
          create_time,
          reply_to,
          parent_id,
          detail
      ) values (
          UUID(),
          #{idleId},
          #{userId},
          now(),
          #{replyTo},
          #{parentId},
          #{detail}
      )
    </insert>

    <delete id="deleteComments">
        DELETE FROM yw_comments WHERE id = #{commentsId}
    </delete>

    <delete id="deleteByIdleId">
        DELETE FROM yw_comments WHERE idle_id = #{idleId}
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
    </delete>

    <select id="getComments" resultType="com.yiwu.changething.sec1.model.CommentsModel">
        <include refid="getCommentsSql"/>
        WHERE yc.id = #{commentsId}
    </select>

    <select id="getCommentsList" resultType="com.yiwu.changething.sec1.model.CommentsModel">
        <include refid="getCommentsSql"/>
        WHERE yc.idle_id = #{idleId}
    </select>

    <select id="getCommentsByUser" resultType="com.yiwu.changething.sec1.model.CommentsModel">
        <include refid="getCommentsSql"/>
        WHERE yc.user_id = #{userId}
    </select>

    <sql id="getCommentsSql">
        SELECT
        yc.id,
        yc.idle_id,
        yc.user_id,
        yc.parent_id,
        yc.create_time,
        yc.detail,
        yc.reply_to,
        yu.name userName,
        yus.name replyName
        FROM yw_comments yc
        LEFT JOIN yw_user yu on yu.id = yc.user_id
        LEFT JOIN yw_user yus on yus.id = yc.reply_to
    </sql>
</mapper>