<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiwu.changething.sec1.mapper.IdleMapper">

    <select id="getIdleList" resultType="com.yiwu.changething.sec1.bean.IdleBean">
        SELECT
        yi.id,
        yi.`name`,
        yi.description,
        yi.price,
        yi.num,
        yi.type_id,
        yt.`name` typeName,
        yi.production_date,
        yi.production_place,
        yi.guarantee_date,
        yi.extent,
        yi.create_time,
        yi.create_by,
        yi.update_time,
        yi.update_by,
        yi.share,
        yi.share_value,
        yi.share_cycle
        FROM
        yw_idle yi
        LEFT JOIN yw_type yt ON yi.type_id = yt.id
        <where>
            <if test="name != null and name != ''">
                yi.name LIKE CONCAT("%",#{name},"%")
            </if>
            <if test="typeId != null and typeId != ''">
                yi.type_id = #{typeId}
            </if>
            <if test="minPrice != null ">
                yi.price &gt; #{minPrice}
            </if>
            <if test="maxPrice != null ">
                yi.price &lt; #{maxPrice}
            </if>
            <if test="productionPlace != null and productionPlace != ''">
                yi.production_place like CONCAT("%",#{productionPlace},"%")
            </if>
            <if test="share != null">
                yi.share = #{share}
            </if>
            <if test="minShareValue != null">
                yi.share_value &gt; #{minShareValue}
            </if>
            <if test="maxShareValue != null">
                yi.share_value &lt; #{maxShareValue}
            </if>
        </where>
        <if test="idleOrder != null ">
            ORDER BY #{idleOrder} #{orderType}
        </if>
        <if test="page != null and pageSize != null">
            limit #{page},#{pageSize}
        </if>
    </select>

    <select id="getIdleCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        yw_idle yi
        LEFT JOIN yw_type yt ON yi.type_id = yt.id
        <where>
            <if test="name != null and name != ''">
                yi.name LIKE CONCAT("%",#{name},"%")
            </if>
            <if test="typeId != null and typeId != ''">
                yi.type_id = #{typeId}
            </if>
            <if test="minPrice != null ">
                yi.price &gt; #{minPrice}
            </if>
            <if test="maxPrice != null ">
                yi.price &lt; #{maxPrice}
            </if>
            <if test="productionPlace != null and productionPlace != ''">
                yi.production_place like CONCAT("%",#{productionPlace},"%")
            </if>
            <if test="share != null">
                yi.share = #{share}
            </if>
            <if test="minShareValue != null">
                yi.share_value &gt; #{minShareValue}
            </if>
            <if test="maxShareValue != null">
                yi.share_value &lt; #{maxShareValue}
            </if>
        </where>
    </select>

    <select id="getIdleById" resultType="com.yiwu.changething.sec1.bean.IdleBean">
        SELECT
        yi.id,
        yi.`name`,
        yi.description,
        yi.price,
        yi.num,
        yi.type_id,
        yi.production_date,
        yi.production_place,
        yi.guarantee_date,
        yi.extent,
        yi.create_time,
        yi.create_by,
        yi.update_time,
        yi.update_by,
        yi.share,
        yi.share_value,
        yi.share_cycle
        FROM
        yw_idle yi
        <where>
            <if test="idleId != null and idleId != ''">
                id = #{idleId}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.yiwu.changething.sec1.model.IdleModel">
        INSERT INTO yw_idle (
        id,
        `name`,
        description,
        price,
        num,
        type_id,
        production_date,
        production_place,
        guarantee_date,
        extent,
        create_time,
        create_by,
        update_time,
        update_by,
        share,
        share_value,
        share_cycle
        )
        VALUES  (
        #{id},
        #{name},
        #{description},
        #{price},
        #{num},
        #{typeId},
        #{productionDate},
        #{productionPlace},
        #{guaranteeDate},
        #{extent},
        now(),
        #{createBy},
        now(),
        null,
        0,
        0,
        #{shareCycle}
        )
    </insert>

    <update id="update" parameterType="com.yiwu.changething.sec1.model.IdleModel">
        UPDATE  yw_idle
        set
        `name`= #{name},
        description = #{description},
        price = #{price},
        num = #{num},
        type_id = #{typeId},
        production_date = #{productionDate},
        production_place = #{productionPlace},
        guarantee_date = #{guaranteeDate},
        extent = #{extent},
        update_time = now(),
        update_by = #{updateBy},
        share = #{share},
        share_value = #{shareValue},
        share_cycle = #{shareCycle}
        WHERE
        id =  #{id} and status = 'NOTLOCK'
    </update>

    <delete id="deleteById">
        DELETE FROM yw_idle WHERE id = #{idleId}
    </delete>

    <update id="updateShareStatus">
        UPDATE yw_idle
        <set>
            <if test="share != null">
                share = #{share},
            </if>
            <if test="shareValue != null">
                share_value = #{shareValue},
            </if>
            <if test="shareCycle != null">
                share_cycle = #{shareCycle}
            </if>
        </set>
        WHERE id = #{idleId}
    </update>

    <update id="updateBatchStatus">
        UPDATE yw_idle
        SET  share = 'NOTLOCK'
        WHERE id in
        <foreach collection="idleIds" index="index" item="idleId" open="(" close=")" separator=",">
            #{idleId}
        </foreach>
    </update>
</mapper>