<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiwu.changething.sec1.mapper.IdleMapper">

    <select id="getIdleList" resultType="com.yiwu.changething.sec1.bean.IdleBean">
        SELECT
        yi.id,
        yi.`name`,
        yi.description,
        yi.price,
        yi.num,
        yi.type_id,
        yt.`name` typeName,
        yi.production_date,
        yi.production_place,
        yi.guarantee_date,
        yi.extent,
        yi.create_time,
        yi.create_by,
        yi.update_time,
        yi.update_by,
        yi.share_status,
        yi.share_value,
        yi.share_cycle,
        yi.thumbnail
        FROM
        yw_idle yi
        LEFT JOIN yw_type yt ON yi.type_id = yt.id
        <where>
            <if test="name != null and name != ''">
                yi.name LIKE CONCAT("%",#{name},"%")
            </if>
            <if test="typeId != null and typeId != ''">
                yi.type_id = #{typeId}
            </if>
            <if test="minPrice != null ">
                yi.price &gt; #{minPrice}
            </if>
            <if test="maxPrice != null ">
                yi.price &lt; #{maxPrice}
            </if>
            <if test="productionPlace != null and productionPlace != ''">
                yi.production_place like CONCAT("%",#{productionPlace},"%")
            </if>
            <if test="shareStatus != null">
                yi.share_status = #{shareStatus}
            </if>
            <if test="minShareValue != null">
                yi.share_value &gt; #{minShareValue}
            </if>
            <if test="maxShareValue != null">
                yi.share_value &lt; #{maxShareValue}
            </if>
        </where>
        <if test="idleOrder != null ">
            ORDER BY #{idleOrder} #{orderType}
        </if>
        <if test="page != null and pageSize != null">
            limit #{page},#{pageSize}
        </if>
    </select>

    <select id="getIdleCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        yw_idle yi
        LEFT JOIN yw_type yt ON yi.type_id = yt.id
        <where>
            <if test="name != null and name != ''">
                yi.name LIKE CONCAT("%",#{name},"%")
            </if>
            <if test="typeId != null and typeId != ''">
                yi.type_id = #{typeId}
            </if>
            <if test="minPrice != null ">
                yi.price &gt; #{minPrice}
            </if>
            <if test="maxPrice != null ">
                yi.price &lt; #{maxPrice}
            </if>
            <if test="productionPlace != null and productionPlace != ''">
                yi.production_place like CONCAT("%",#{productionPlace},"%")
            </if>
            <if test="shareStatus != null">
                yi.share_status = #{shareStatus}
            </if>
            <if test="minShareValue != null">
                yi.share_value &gt; #{minShareValue}
            </if>
            <if test="maxShareValue != null">
                yi.share_value &lt; #{maxShareValue}
            </if>
        </where>
    </select>

    <select id="getIdleById" resultType="com.yiwu.changething.sec1.bean.IdleBean">
        SELECT
        yi.id,
        yi.`name`,
        yi.description,
        yi.price,
        yi.num,
        yi.type_id,
        yi.production_date,
        yi.production_place,
        yi.guarantee_date,
        yi.extent,
        yi.create_time,
        yi.create_by,
        yi.update_time,
        yi.update_by,
        yi.share_status,
        yi.share_value,
        yi.share_cycle,
        yi.thumbnail
        FROM
        yw_idle yi
        WHERE  id = #{idleId}
    </select>

    <insert id="insert" parameterType="com.yiwu.changething.sec1.model.IdleModel">
        INSERT INTO yw_idle (
        id,
        `name`,
        description,
        price,
        num,
        type_id,
        production_date,
        production_place,
        guarantee_date,
        extent,
        create_time,
        create_by,
        update_time,
        update_by,
        share_status,
        share_value,
        share_cycle,
        thumbnail
        )
        VALUES  (
        #{id},
        #{name},
        #{description},
        #{price},
        #{num},
        #{typeId},
        #{productionDate},
        #{productionPlace},
        #{guaranteeDate},
        #{extent},
        now(),
        #{createBy},
        now(),
        null,
        'NOTLOCK',
        #{shareValue},
        #{shareCycle},
        #{thumbnail}
        )
    </insert>

    <update id="update" parameterType="com.yiwu.changething.sec1.model.IdleModel">
        UPDATE yw_idle
        <set>
            <if test="name != null and name !=''">
                `name`= #{name},
            </if>
            <if test="description != null and description !=''">
                description = #{description},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="typeId != null and typeId !=''">
                type_id = #{typeId},
            </if>
            <if test="productionDate != null">
                production_date = #{productionDate},
            </if>
            <if test="productionPlace != null and productionPlace !=''">
                production_place = #{productionPlace},
            </if>
            <if test="guaranteeDate != null">
                guarantee_date = #{guaranteeDate},
            </if>
            <if test="extent != null">
                extent = #{extent},
            </if>
            <if test="updateBy != null and updateBy !=''">
                update_by = #{updateBy},
            </if>
            <if test="shareStatus != null and shareStatus !=''">
                share_status = #{shareStatus},
            </if>
            <if test="shareValue != null ">
                share_value = #{shareValue},
            </if>
            <if test="shareCycle != null ">
                share_cycle = #{shareCycle},
            </if>
            <if test="thumbnail != null and thumbnail !=''">
                thumbnail = #{thumbnail}
            </if>
            update_time = now()
        </set>
        WHERE
        id = #{id} and status = 'NOTLOCK'
    </update>

    <delete id="deleteById">
        DELETE FROM yw_idle WHERE id = #{idleId}
    </delete>

    <update id="updateShareStatus">
        UPDATE yw_idle
        <set>
            <if test="shareStatus != null">
                share_status = #{shareStatus},
            </if>
            <if test="shareValue != null">
                share_value = #{shareValue},
            </if>
            <if test="shareCycle != null">
                share_cycle = #{shareCycle}
            </if>
        </set>
        WHERE id = #{idleId}
    </update>

    <update id="updateBatchStatus">
        UPDATE yw_idle
        SET share = 'NOTLOCK'
        WHERE id in
        <foreach collection="idleIds" index="index" item="idleId" open="(" close=")" separator=",">
            #{idleId}
        </foreach>
    </update>
</mapper>