<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiwu.changething.sec1.mapper.OrderMapper">


    <select id="getOrderById" resultType="com.yiwu.changething.sec1.bean.OrderBean">
          SELECT
            yo.id,
            yo.user_id,
            yo.idle_id,
            yu.name as userName,
            yi.name as idleName,
            yo.create_time,
            yo.share_value,
            yo.share_cycle,
            yo.cycle_num,
            yo.duration
          FROM yw_order yo
          LEFT JOIN  yw_user yu on yu.id = yo.user_id
          LEFT JOIN  yw_idle yi on yi.id = yo.idle_id
          WHERE yo.id = #{orderId}
    </select>

    <insert id="insert" parameterType="com.yiwu.changething.sec1.model.OrderModel">
        INSERT INTO yw_order(
          id,
          user_id,
          idle_id,
          create_time,
          share_value,
          status,
          share_cycle,
          cycle_num,
          duration
        )VALUES (
          UUID(),
          #{userId},
          #{idleId},
          now(),
          #{shareValue},
          #{status},
          #{shareCycle},
          #{cycleNum},
          #{duration}
        )
    </insert>

    <update id="update" parameterType="com.yiwu.changething.sec1.model.OrderModel">
        UPDATE  yw_order
        SET
          idle_id = #{idleId},
          user_id = #{userId},
          update_time = now(),
          share_value = #{shareValue},
          share_cycle = #{shareCycle},
          cycle_num = #{cycleNum}
        WHERE
          id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM yw_order WHERE id = #{orderId}
    </delete>

    <update id="updateStatus">
        UPDATE yw_order
        SET status = #{status},
        update_time = now()
        <where>
            <if test="orderId != null and orderId != ''">
                id = #{orderId}
            </if>
        </where>
    </update>

    <update id="updateBatchStatus">
        UPDATE yw_order
        SET status = #{status},
        update_time = now()
        <where>
            id in
            <foreach collection="orderIds" index="index" item="orderId" open="(" close=")" separator=",">
                #{orderId}
            </foreach>
        </where>
    </update>

    <select id="getOrderCountByIdleId" resultType="java.lang.Integer">
        SELECT
            count(DISTINCT id)
        FROM
            yw_order
        WHERE  idle_id = #{idleId} and status != 'NOTPAY' AND status != 'COMPLETED'
    </select>

    <update id="renewOrder">
        UPDATE yw_order
        SET cycle_num = #{cycleNum},
        status = 'RENEW'
        WHERE id = #{orderId} and status != 'NOTPAY' AND status != 'COMPLETED'
    </update>

    <update id="updateDuration">
        UPDATE yw_order
        SET duration = #{duration}
        WHERE id = #{orderId} and status != 'NOTPAY' AND status != 'COMPLETED'
    </update>

    <update id="reduceDuration">
        UPDATE yw_order
        SET duration = duration - 1
        WHERE status != 'NOTPAY' AND status != 'COMPLETED'
    </update>

    <select id="getDurationList" resultType="com.yiwu.changething.sec1.bean.OrderBean">
        SELECT
            id,
            user_id,
            idle_id,
            create_time,
            share_value,
            status,
            share_cycle,
            cycle_num,
            duration
        FROM yw_order
        WHERE duration &lt; 1
    </select>

    <update id="updateProfit">
        UPDATE yw_order
        SET profit = #{profit}
        WHERE id = #{orderId}
    </update>

    <select id="getOrderList" resultType="com.yiwu.changething.sec1.bean.OrderBean">
        SELECT
        yo.id,
        yo.user_id,
        yo.idle_id,
        yu.name as userName,
        yi.name as idleName,
        yo.create_time,
        yo.share_value,
        yo.share_cycle,
        yo.cycle_num,
        yo.duration
        FROM yw_order yo
        LEFT JOIN  yw_user yu on yu.id = yo.user_id
        LEFT JOIN  yw_idle yi on yi.id = yo.idle_id
        ORDER BY create_time DESC
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="countOrderList" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM yw_order
    </select>
</mapper>