<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiwu.changething.sec1.mapper.ShareMapper">


    <insert id="insert" parameterType="com.yiwu.changething.sec1.model.ShareModel">
        INSERT INTO yw_share(
          id,
          user_id,
          idle_id,
          create_time,
          share_value,
          share_cycle,
          cycle_num
        )VALUES (
          UUID(),
          #{userId},
          #{idleId},
          now(),
          #{shareValue},
          #{shareCycle},
          #{cycleNum}
        )
    </insert>

    <update id="update" parameterType="com.yiwu.changething.sec1.model.ShareModel">
        UPDATE yw_share
        <set>
            <if test="idleId != null and idleId != ''">
                idle_id = #{idleId},
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="shareValue != null">
                share_value = #{shareValue},
            </if>
            <if test="cycleNum != null">
                cycle_num = #{cycleNum},
            </if>
            <if test="shareCycle != null">
                share_cycle = #{shareCycle},
            </if>
            update_time = now()
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="getShareById" resultType="com.yiwu.changething.sec1.bean.ShareBean">
        SELECT
          id,
          user_id,
          idle_id,
          create_time,
          share_value,
          share_cycle,
          cycle_num
        FROM yw_share
        WHERE id = #{shareId}
    </select>

    <select id="getShareByIdleId" resultType="com.yiwu.changething.sec1.bean.ShareBean">
        SELECT
        id,
        user_id,
        idle_id,
        create_time,
        share_value,
        share_cycle,
        cycle_num
        FROM yw_share
        WHERE idle_id = #{idleId}
    </select>

</mapper>