<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiwu.changething.sec1.mapper.UserMapper">


    <select id="getByName" resultType="com.yiwu.changething.sec1.bean.UserBean">
        SELECT
            id,
            name,
            password,
            salt,
            phone,
            email
        FROM
            yw_user
        WHERE
            name = #{name}
    </select>

    <insert id="insert" parameterType="com.yiwu.changething.sec1.bean.UserBean">
        INSERT INTO yw_user (
            id,
            name,
            password,
            salt,
            phone,
            email,
            avatar,
            deleted,
            last_login_time,
            create_time
        ) VALUES (
            #{id},
            #{name},
            #{password},
            #{salt},
            #{phone},
            #{email},
            #{avatar},
            0,
            now(),
            now()
        )
    </insert>

    <select id="getByEmail" resultType="com.yiwu.changething.sec1.bean.UserBean">
        SELECT
            id,
            name,
            password,
            salt,
            phone,
            email
        FROM
            yw_user
        WHERE
            email = #{email}
    </select>

    <update id="updatePassword">
        UPDATE yw_user SET password = #{password} , salt = #{salt} where id = #{id}
    </update>

    <select id="getShareValue" resultType="java.lang.Integer">
        SELECT share_value
        FROM yw_user
        WHERE id = #{userId}
    </select>

    <update id="updateShareValue">
        UPDATE yw_user
        SET share_value = #{shareValue}
        where id = #{userId}
    </update>

    <select id="getById" resultType="com.yiwu.changething.sec1.bean.UserBean">
        SELECT
        id,
        name,
        password,
        salt,
        phone,
        email
        FROM
        yw_user
        WHERE
        id = #{userId}
    </select>
</mapper>